Reports/Connected Services/CommonSearchServiceClient/CommonSearchService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Wipro.NxG.HIS" elementFormDefault="qualified" targetNamespace="http://Wipro.NxG.HIS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetSearchResults">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FilterCondition" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="WorkStationID" type="xs:int" />
        <xs:element minOccurs="0" name="Featureid" type="xs:int" />
        <xs:element minOccurs="0" name="Functionid" type="xs:int" />
        <xs:element minOccurs="0" name="CallContext" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OrderType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchResultsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSearchResultsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchResultsWardId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startRow" type="xs:int" />
        <xs:element minOccurs="0" name="EndRow" type="xs:int" />
        <xs:element minOccurs="0" name="FilterCondition" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="WorkStationID" type="xs:int" />
        <xs:element minOccurs="0" name="Featureid" type="xs:int" />
        <xs:element minOccurs="0" name="Functionid" type="xs:int" />
        <xs:element minOccurs="0" name="CallContext" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OrderType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="patienttype" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchResultsWardIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSearchResultsWardIdResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchResultsPageWiseWardId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startRow" type="xs:int" />
        <xs:element minOccurs="0" name="EndRow" type="xs:int" />
        <xs:element minOccurs="0" name="FilterCondition" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="WorkStationID" type="xs:int" />
        <xs:element minOccurs="0" name="Featureid" type="xs:int" />
        <xs:element minOccurs="0" name="Functionid" type="xs:int" />
        <xs:element minOccurs="0" name="CallContext" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OrderType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="patienttype" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchResultsPageWiseWardIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSearchResultsPageWiseWardIdResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchResultsPageWise">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startRow" type="xs:int" />
        <xs:element minOccurs="0" name="EndRow" type="xs:int" />
        <xs:element minOccurs="0" name="FilterCondition" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="WorkStationID" type="xs:int" />
        <xs:element minOccurs="0" name="Featureid" type="xs:int" />
        <xs:element minOccurs="0" name="Functionid" type="xs:int" />
        <xs:element minOccurs="0" name="CallContext" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OrderType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchResultsPageWiseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSearchResultsPageWiseResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchResultsTagIdForPHC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StoredProcedureName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startRow" type="xs:int" />
        <xs:element minOccurs="0" name="EndRow" type="xs:int" />
        <xs:element minOccurs="0" name="FilterCondition" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="WorkStationID" type="xs:int" />
        <xs:element minOccurs="0" name="Featureid" type="xs:int" />
        <xs:element minOccurs="0" name="Functionid" type="xs:int" />
        <xs:element minOccurs="0" name="CallContext" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OrderType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="HospitalId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchResultsTagIdForPHCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSearchResultsTagIdForPHCResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchResultsTagId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StoredProcedureName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startRow" type="xs:int" />
        <xs:element minOccurs="0" name="EndRow" type="xs:int" />
        <xs:element minOccurs="0" name="FilterCondition" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="WorkStationID" type="xs:int" />
        <xs:element minOccurs="0" name="Featureid" type="xs:int" />
        <xs:element minOccurs="0" name="Functionid" type="xs:int" />
        <xs:element minOccurs="0" name="CallContext" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OrderType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TagId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchResultsTagIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSearchResultsTagIdResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strSQL" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDetailsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchInvestigationandProcedures">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strFilter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intServiceId" type="xs:int" />
        <xs:element minOccurs="0" name="hospitalId" type="xs:int" />
        <xs:element minOccurs="0" name="intWorkstationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchInvestigationandProceduresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FetchInvestigationandProceduresResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StoredProcedureName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TableID" type="xs:int" />
        <xs:element minOccurs="0" name="FilterCondition" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="WorkStationID" type="xs:int" />
        <xs:element minOccurs="0" name="Featureid" type="xs:int" />
        <xs:element minOccurs="0" name="Functionid" type="xs:int" />
        <xs:element minOccurs="0" name="CallContext" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OrderType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSearchDetailsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchDetails_ICD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StoredProcedureName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TableID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FilterCondition" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="WorkStationID" type="xs:int" />
        <xs:element minOccurs="0" name="Featureid" type="xs:int" />
        <xs:element minOccurs="0" name="Functionid" type="xs:int" />
        <xs:element minOccurs="0" name="CallContext" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OrderType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchDetails_ICDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSearchDetails_ICDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchDetailsOverLoaded">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StoredProcedureName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TableID" type="xs:int" />
        <xs:element minOccurs="0" name="FilterCondition" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="WorkStationID" type="xs:int" />
        <xs:element minOccurs="0" name="Featureid" type="xs:int" />
        <xs:element minOccurs="0" name="Functionid" type="xs:int" />
        <xs:element minOccurs="0" name="CallContext" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OrderType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LanguageID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchDetailsOverLoadedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSearchDetailsOverLoadedResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchDetailsOverLoadedEx">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StoredProcedureName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TableID" type="xs:int" />
        <xs:element minOccurs="0" name="FilterCondition" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="WorkStationID" type="xs:int" />
        <xs:element minOccurs="0" name="dsDbParams" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchDetailsOverLoadedExResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSearchDetailsOverLoadedExResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchDetailsOverLoadedMultiEx">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StoredProcedureName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TableID" type="xs:int" />
        <xs:element minOccurs="0" name="FilterCondition" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="WorkStationID" type="xs:int" />
        <xs:element minOccurs="0" name="Featureid" type="xs:int" />
        <xs:element minOccurs="0" name="Functionid" type="xs:int" />
        <xs:element minOccurs="0" name="CallContext" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OrderType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dsDbParams" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchDetailsOverLoadedMultiExResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSearchDetailsOverLoadedMultiExResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSingleMaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TransType" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="TableID" type="xs:int" />
        <xs:element minOccurs="0" name="intID" type="xs:int" />
        <xs:element minOccurs="0" name="strName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="WorkStationID" type="xs:int" />
        <xs:element minOccurs="0" name="Blocked" type="xs:boolean" />
        <xs:element minOccurs="0" name="Name2l" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="langid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSingleMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveSingleMasterResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkListDetails1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workListName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FilterCondition" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Patientid" type="xs:int" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="WorkStationID" type="xs:int" />
        <xs:element minOccurs="0" name="dsDbParams" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkListDetails1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWorkListDetails1Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkListDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workListName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startRow" type="xs:int" />
        <xs:element minOccurs="0" name="EndRow" type="xs:int" />
        <xs:element minOccurs="0" name="FilterCondition" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="WorkStationID" type="xs:int" />
        <xs:element minOccurs="0" name="dsDbParams" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkListDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWorkListDetailsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkListDetails2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workListName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startRow" type="xs:int" />
        <xs:element minOccurs="0" name="EndRow" type="xs:int" />
        <xs:element minOccurs="0" name="FilterCondition" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="WorkStationID" type="xs:int" />
        <xs:element minOccurs="0" name="dsDbParams" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="dtFromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dtToDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkListDetails2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWorkListDetails2Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkListUHID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workListName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UHID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startRow" type="xs:int" />
        <xs:element minOccurs="0" name="EndRow" type="xs:int" />
        <xs:element minOccurs="0" name="FilterCondition" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="WorkStationID" type="xs:int" />
        <xs:element minOccurs="0" name="dsDbParams" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkListUHIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWorkListUHIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFoodOrderWorkList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workListName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startRow" type="xs:int" />
        <xs:element minOccurs="0" name="EndRow" type="xs:int" />
        <xs:element minOccurs="0" name="FilterCondition" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="WorkStationID" type="xs:int" />
        <xs:element minOccurs="0" name="dsDbParams" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="strStartTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strEndTime" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFoodOrderWorkListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFoodOrderWorkListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkListDetailsstrOrderBy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workListName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startRow" type="xs:int" />
        <xs:element minOccurs="0" name="EndRow" type="xs:int" />
        <xs:element minOccurs="0" name="FilterCondition" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="WorkStationID" type="xs:int" />
        <xs:element minOccurs="0" name="dsDbParams" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="strOrderBy" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkListDetailsstrOrderByResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWorkListDetailsstrOrderByResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkListHospitalDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workListName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="HospitalID" type="xs:int" />
        <xs:element minOccurs="0" name="startRow" type="xs:int" />
        <xs:element minOccurs="0" name="EndRow" type="xs:int" />
        <xs:element minOccurs="0" name="FilterCondition" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="WorkStationID" type="xs:int" />
        <xs:element minOccurs="0" name="dsDbParams" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkListHospitalDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWorkListHospitalDetailsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkListDetailsByOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workListName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startRow" type="xs:int" />
        <xs:element minOccurs="0" name="EndRow" type="xs:int" />
        <xs:element minOccurs="0" name="FilterCondition" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="WorkStationID" type="xs:int" />
        <xs:element minOccurs="0" name="dsDbParams" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="strOrderBy" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkListDetailsByOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWorkListDetailsByOrderResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkListDetailsByFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workListName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startRow" type="xs:int" />
        <xs:element minOccurs="0" name="EndRow" type="xs:int" />
        <xs:element minOccurs="0" name="FilterCondition" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="WorkStationID" type="xs:int" />
        <xs:element minOccurs="0" name="dsDbParams" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="strOrderBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strFilterBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Specimen" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkListDetailsByFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWorkListDetailsByFilterResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSmartSearchResults">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchFor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Type" type="xs:int" />
        <xs:element minOccurs="0" name="Filter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TagID" type="xs:int" />
        <xs:element minOccurs="0" name="Param1" type="xs:int" />
        <xs:element minOccurs="0" name="Param2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSmartSearchResultsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSmartSearchResultsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemMasterSmartSearchResults">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchFor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Type" type="xs:int" />
        <xs:element minOccurs="0" name="Filter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TagID" type="xs:int" />
        <xs:element minOccurs="0" name="Param1" type="xs:int" />
        <xs:element minOccurs="0" name="Param2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemMasterSmartSearchResultsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetItemMasterSmartSearchResultsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSmartSearchResultsparam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchFor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Type" type="xs:int" />
        <xs:element minOccurs="0" name="Filter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TagID" type="xs:int" />
        <xs:element minOccurs="0" name="Param1" type="xs:int" />
        <xs:element minOccurs="0" name="Param2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSmartSearchResultsparamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSmartSearchResultsparamResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompletionList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProcedureSuffix" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="prefixText" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Type" type="xs:int" />
        <xs:element minOccurs="0" name="TagId" type="xs:int" />
        <xs:element minOccurs="0" name="Param1" type="xs:int" />
        <xs:element minOccurs="0" name="Param2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompletionListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCompletionListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemMasterCompletionList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProcedureSuffix" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="prefixText" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Type" type="xs:int" />
        <xs:element minOccurs="0" name="TagId" type="xs:int" />
        <xs:element minOccurs="0" name="Param1" type="xs:int" />
        <xs:element minOccurs="0" name="Param2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemMasterCompletionListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetItemMasterCompletionListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvestigationCompletionList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProcedureSuffix" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="prefixText" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Type" type="xs:int" />
        <xs:element minOccurs="0" name="TagId" type="xs:int" />
        <xs:element minOccurs="0" name="Param1" type="xs:int" />
        <xs:element minOccurs="0" name="Param2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvestigationCompletionListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetInvestigationCompletionListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompletionListparam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProcedureSuffix" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="prefixText" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Type" type="xs:int" />
        <xs:element minOccurs="0" name="TagId" type="xs:int" />
        <xs:element minOccurs="0" name="Param1" type="xs:int" />
        <xs:element minOccurs="0" name="Param2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompletionListparamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCompletionListparamResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHospitalCompletionList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProcedureSuffix" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="prefixText" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Type" type="xs:int" />
        <xs:element minOccurs="0" name="TagId" type="xs:int" />
        <xs:element minOccurs="0" name="Param1" type="xs:int" />
        <xs:element minOccurs="0" name="Param2" type="xs:int" />
        <xs:element minOccurs="0" name="Param3" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHospitalCompletionListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetHospitalCompletionListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSmartConResults">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProcedureSuffix" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="prefixText" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Type" type="xs:int" />
        <xs:element minOccurs="0" name="TagId" type="xs:int" />
        <xs:element minOccurs="0" name="Param1" type="xs:int" />
        <xs:element minOccurs="0" name="Param2" type="xs:int" />
        <xs:element minOccurs="0" name="Param3" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSmartConResultsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSmartConResultsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSSResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XmlFileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FilterCondition" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="WorkStationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSSResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSSResultResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHospitalSSResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XmlFileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FilterCondition" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="WorkStationID" type="xs:int" />
        <xs:element minOccurs="0" name="HospitalID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHospitalSSResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetHospitalSSResultResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSSResultDataset">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XmlFileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FilterCondition" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="WorkStationID" type="xs:int" />
        <xs:element minOccurs="0" name="RetType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSSResultDatasetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSSResultDatasetResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDOCResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XmlFileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FilterCondition" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="WorkStationID" type="xs:int" />
        <xs:element minOccurs="0" name="RetType" type="xs:int" />
        <xs:element minOccurs="0" name="HospitalId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDOCResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDOCResultResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSmartConsultation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProcedureSuffix" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="prefixText" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Type" type="xs:int" />
        <xs:element minOccurs="0" name="TagId" type="xs:int" />
        <xs:element minOccurs="0" name="Param1" type="xs:int" />
        <xs:element minOccurs="0" name="Param2" type="xs:int" />
        <xs:element minOccurs="0" name="Param3" type="xs:int" />
        <xs:element minOccurs="0" name="Param4" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSmartConsultationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSmartConsultationResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHospitalSmartConsultation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProcedureSuffix" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="prefixText" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Type" type="xs:int" />
        <xs:element minOccurs="0" name="TagId" type="xs:int" />
        <xs:element minOccurs="0" name="Param1" type="xs:int" />
        <xs:element minOccurs="0" name="HospitalID" type="xs:int" />
        <xs:element minOccurs="0" name="Param3" type="xs:int" />
        <xs:element minOccurs="0" name="Param4" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHospitalSmartConsultationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetHospitalSmartConsultationResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchUserPermissions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intHospitalID" type="xs:int" />
        <xs:element minOccurs="0" name="intWorkstationID" type="xs:int" />
        <xs:element minOccurs="0" name="intUserID" type="xs:int" />
        <xs:element minOccurs="0" name="strSIDTpe" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strTableID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intModuleID" type="xs:int" />
        <xs:element minOccurs="0" name="intFeatureID" type="xs:int" />
        <xs:element minOccurs="0" name="intFunctionID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchUserPermissionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FetchUserPermissionsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMasterLocations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intID" type="xs:int" />
        <xs:element minOccurs="0" name="intHospitalID" type="xs:int" />
        <xs:element minOccurs="0" name="strType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dsItemHospitalDetails" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="intUSERID" type="xs:int" />
        <xs:element minOccurs="0" name="intWorkstationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMasterLocationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveMasterLocationsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchMasterLocations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intTableID" type="xs:int" />
        <xs:element minOccurs="0" name="strType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intID" type="xs:int" />
        <xs:element minOccurs="0" name="intHospID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchMasterLocationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FetchMasterLocationsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchResultsHospitalWise">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startRow" type="xs:int" />
        <xs:element minOccurs="0" name="EndRow" type="xs:int" />
        <xs:element minOccurs="0" name="FilterCondition" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="WorkStationID" type="xs:int" />
        <xs:element minOccurs="0" name="Featureid" type="xs:int" />
        <xs:element minOccurs="0" name="Functionid" type="xs:int" />
        <xs:element minOccurs="0" name="CallContext" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OrderType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intHospitalID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchResultsHospitalWiseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSearchResultsHospitalWiseResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchResultsHospitalTestWise">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startRow" type="xs:int" />
        <xs:element minOccurs="0" name="EndRow" type="xs:int" />
        <xs:element minOccurs="0" name="FilterCondition" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="WorkStationID" type="xs:int" />
        <xs:element minOccurs="0" name="Featureid" type="xs:int" />
        <xs:element minOccurs="0" name="Functionid" type="xs:int" />
        <xs:element minOccurs="0" name="CallContext" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OrderType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intHospitalID" type="xs:int" />
        <xs:element minOccurs="0" name="TestID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchResultsHospitalTestWiseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSearchResultsHospitalTestWiseResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchDataForDashBoard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SID" type="xs:int" />
        <xs:element minOccurs="0" name="HospitalID" type="xs:int" />
        <xs:element minOccurs="0" name="FacilityID" type="xs:int" />
        <xs:element minOccurs="0" name="WorkStationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchDataForDashBoardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FetchDataForDashBoardResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchOrderLevelStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TaskID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchOrderLevelStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FetchOrderLevelStatusResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkListDetailsPerfByDates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workListName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startRow" type="xs:int" />
        <xs:element minOccurs="0" name="EndRow" type="xs:int" />
        <xs:element minOccurs="0" name="FilterCondition" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strStartDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strEndDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="WorkStationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkListDetailsPerfByDatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWorkListDetailsPerfByDatesResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePatientUploadFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PatientID" type="xs:int" />
        <xs:element minOccurs="0" name="IPID" type="xs:int" />
        <xs:element minOccurs="0" name="HospitalID" type="xs:int" />
        <xs:element minOccurs="0" name="Documents" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="Status" type="xs:int" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="WorkStationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePatientUploadFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SavePatientUploadFileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCompanyUploadFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgreementID" type="xs:int" />
        <xs:element minOccurs="0" name="CompanyID" type="xs:int" />
        <xs:element minOccurs="0" name="LetterID" type="xs:int" />
        <xs:element minOccurs="0" name="Documents" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="Status" type="xs:int" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="WorkStationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCompanyUploadFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveCompanyUploadFileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchPatientUploadedFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PatientID" type="xs:int" />
        <xs:element minOccurs="0" name="IPID" type="xs:int" />
        <xs:element minOccurs="0" name="FeatureID" type="xs:int" />
        <xs:element minOccurs="0" name="WorkStationID" type="xs:int" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchPatientUploadedFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FetchPatientUploadedFileResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchCompanyUploadedFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgreementID" type="xs:int" />
        <xs:element minOccurs="0" name="CompanyID" type="xs:int" />
        <xs:element minOccurs="0" name="LetterID" type="xs:int" />
        <xs:element minOccurs="0" name="FeatureID" type="xs:int" />
        <xs:element minOccurs="0" name="WorkStationID" type="xs:int" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchCompanyUploadedFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FetchCompanyUploadedFileResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSMS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dsSMS" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="WorkStationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSMSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveSMSResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dsEmail" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="WorkStationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveEmailResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdentifiers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdentifiersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetIdentifiersResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdentifiersById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIdentifierId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdentifiersByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetIdentifiersByIdResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdentifiersByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strIdentiferName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdentifiersByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetIdentifiersByNameResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdentifiersByType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="byteIdentifierType" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdentifiersByTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetIdentifiersByTypeResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHTMLTemplateTransaction1ByIPID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IPID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHTMLTemplateTransaction1ByIPIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetHTMLTemplateTransaction1ByIPIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHTMLTemplateTransaction1ByIPIDMonitorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIPID" type="xs:int" />
        <xs:element minOccurs="0" name="intMonitorId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHTMLTemplateTransaction1ByIPIDMonitorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetHTMLTemplateTransaction1ByIPIDMonitorIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHTMLTemplateTransaction2ByIPID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIPID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHTMLTemplateTransaction2ByIPIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetHTMLTemplateTransaction2ByIPIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHTMLTemplateTransaction2ByIPIDIdentifierId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIPID" type="xs:int" />
        <xs:element minOccurs="0" name="intIdentifierId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHTMLTemplateTransaction2ByIPIDIdentifierIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetHTMLTemplateTransaction2ByIPIDIdentifierIdResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHTMLTemplateTransaction2ByIPIDIdentifierIdMonitorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIPID" type="xs:int" />
        <xs:element minOccurs="0" name="intIdentifierId" type="xs:int" />
        <xs:element minOccurs="0" name="intMonitorId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHTMLTemplateTransaction2ByIPIDIdentifierIdMonitorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetHTMLTemplateTransaction2ByIPIDIdentifierIdMonitorIdResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveHTMLTemplateTransaction1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIPID" type="xs:int" />
        <xs:element minOccurs="0" name="intMonitorId" type="xs:int" />
        <xs:element minOccurs="0" name="intTemplateId" type="xs:int" />
        <xs:element minOccurs="0" name="strKeyValueCollection" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intUserId" type="xs:int" />
        <xs:element minOccurs="0" name="intWorkStationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveHTMLTemplateTransaction1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveHTMLTemplateTransaction1Result" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveHTMLTemplateTransaction2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIPID" type="xs:int" />
        <xs:element minOccurs="0" name="intMonitorId" type="xs:int" />
        <xs:element minOccurs="0" name="intTemplateId" type="xs:int" />
        <xs:element minOccurs="0" name="objDTKeyValueCollection" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="intUserId" type="xs:int" />
        <xs:element minOccurs="0" name="intWorkStationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveHTMLTemplateTransaction2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveHTMLTemplateTransaction2Result" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTemplateData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIPID" type="xs:int" />
        <xs:element minOccurs="0" name="intMonitorId" type="xs:int" />
        <xs:element minOccurs="0" name="objDTKeyValueCollection" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="intUserId" type="xs:int" />
        <xs:element minOccurs="0" name="intWorkStationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTemplateDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTemplateDataResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NationalityIDSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strNationalityID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NationalityIDSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NationalityIDSearchResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchResultsPageWiseMedicationError">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startRow" type="xs:int" />
        <xs:element minOccurs="0" name="EndRow" type="xs:int" />
        <xs:element minOccurs="0" name="FilterCondition" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="WorkStationID" type="xs:int" />
        <xs:element minOccurs="0" name="Featureid" type="xs:int" />
        <xs:element minOccurs="0" name="Functionid" type="xs:int" />
        <xs:element minOccurs="0" name="CallContext" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OrderType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IPID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchResultsPageWiseMedicationErrorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSearchResultsPageWiseMedicationErrorResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>