Reports/Connected Services/IPBillingServiceClient/IPBillingServiceReference2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HIS.CustomException" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HIS.CustomException" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="NextGenCustomException">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorDetails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorSource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorStackTrace" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NextGenCustomException" nillable="true" type="tns:NextGenCustomException" />
</xs:schema>