Reports/Reports/Connected Services/BillingCalculationServiceClient/BillingCalculationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://Wipro.NxG.HIS" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="BillingCalculationService" targetNamespace="http://Wipro.NxG.HIS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Wipro.NxG.HIS/Imports">
      <xsd:import schemaLocation="http://agphsrv-his06.pfbsh.com.sa/Wipro.NxG.BillCalculation/BillingCalculationServiceReference.svc?xsd=xsd0" namespace="http://Wipro.NxG.HIS" />
      <xsd:import schemaLocation="http://agphsrv-his06.pfbsh.com.sa/Wipro.NxG.BillCalculation/BillingCalculationServiceReference.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/HIS.CustomException" />
      <xsd:import schemaLocation="http://agphsrv-his06.pfbsh.com.sa/Wipro.NxG.BillCalculation/BillingCalculationServiceReference.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://agphsrv-his06.pfbsh.com.sa/Wipro.NxG.BillCalculation/BillingCalculationServiceReference.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="http://agphsrv-his06.pfbsh.com.sa/Wipro.NxG.BillCalculation/BillingCalculationServiceReference.svc?xsd=xsd3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="BillingCalculatonServiceContract_GetBillRule_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBillRule" />
  </wsdl:message>
  <wsdl:message name="BillingCalculatonServiceContract_GetBillRule_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBillRuleResponse" />
  </wsdl:message>
  <wsdl:message name="BillingCalculatonServiceContract_ApplyAgreementRule_InputMessage">
    <wsdl:part name="parameters" element="tns:ApplyAgreementRule" />
  </wsdl:message>
  <wsdl:message name="BillingCalculatonServiceContract_ApplyAgreementRule_OutputMessage">
    <wsdl:part name="parameters" element="tns:ApplyAgreementRuleResponse" />
  </wsdl:message>
  <wsdl:message name="BillingCalculatonServiceContract_ApplyAgreementRule_NextGenCustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/HIS.CustomException" name="detail" element="q1:NextGenCustomException" />
  </wsdl:message>
  <wsdl:message name="BillingCalculatonServiceContract_ApplyServiceDependencyConfig_InputMessage">
    <wsdl:part name="parameters" element="tns:ApplyServiceDependencyConfig" />
  </wsdl:message>
  <wsdl:message name="BillingCalculatonServiceContract_ApplyServiceDependencyConfig_OutputMessage">
    <wsdl:part name="parameters" element="tns:ApplyServiceDependencyConfigResponse" />
  </wsdl:message>
  <wsdl:message name="BillingCalculatonServiceContract_ApplyServiceDependencyConfig_NextGenCustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/HIS.CustomException" name="detail" element="q2:NextGenCustomException" />
  </wsdl:message>
  <wsdl:message name="BillingCalculatonServiceContract_SplitBedRentalsDataOld_InputMessage">
    <wsdl:part name="parameters" element="tns:SplitBedRentalsDataOld" />
  </wsdl:message>
  <wsdl:message name="BillingCalculatonServiceContract_SplitBedRentalsDataOld_OutputMessage">
    <wsdl:part name="parameters" element="tns:SplitBedRentalsDataOldResponse" />
  </wsdl:message>
  <wsdl:message name="BillingCalculatonServiceContract_SplitBedRentalsDataOld_NextGenCustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/HIS.CustomException" name="detail" element="q3:NextGenCustomException" />
  </wsdl:message>
  <wsdl:message name="BillingCalculatonServiceContract_SplitBedRentalsData_InputMessage">
    <wsdl:part name="parameters" element="tns:SplitBedRentalsData" />
  </wsdl:message>
  <wsdl:message name="BillingCalculatonServiceContract_SplitBedRentalsData_OutputMessage">
    <wsdl:part name="parameters" element="tns:SplitBedRentalsDataResponse" />
  </wsdl:message>
  <wsdl:message name="BillingCalculatonServiceContract_SplitBedRentalsData_NextGenCustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/HIS.CustomException" name="detail" element="q4:NextGenCustomException" />
  </wsdl:message>
  <wsdl:message name="BillingCalculatonServiceContract_ApplyPackageOnBill_InputMessage">
    <wsdl:part name="parameters" element="tns:ApplyPackageOnBill" />
  </wsdl:message>
  <wsdl:message name="BillingCalculatonServiceContract_ApplyPackageOnBill_OutputMessage">
    <wsdl:part name="parameters" element="tns:ApplyPackageOnBillResponse" />
  </wsdl:message>
  <wsdl:message name="BillingCalculatonServiceContract_ApplyPackageOnBill_NextGenCustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/HIS.CustomException" name="detail" element="q5:NextGenCustomException" />
  </wsdl:message>
  <wsdl:message name="BillingCalculatonServiceContract_CalculateDeductibles_InputMessage">
    <wsdl:part name="parameters" element="tns:CalculateDeductibles" />
  </wsdl:message>
  <wsdl:message name="BillingCalculatonServiceContract_CalculateDeductibles_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalculateDeductiblesResponse" />
  </wsdl:message>
  <wsdl:message name="BillingCalculatonServiceContract_CalculateDeductibles_NextGenCustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/HIS.CustomException" name="detail" element="q6:NextGenCustomException" />
  </wsdl:message>
  <wsdl:message name="BillingCalculatonServiceContract_ApplyPackageExclusionInclusionRule_InputMessage">
    <wsdl:part name="parameters" element="tns:ApplyPackageExclusionInclusionRule" />
  </wsdl:message>
  <wsdl:message name="BillingCalculatonServiceContract_ApplyPackageExclusionInclusionRule_OutputMessage">
    <wsdl:part name="parameters" element="tns:ApplyPackageExclusionInclusionRuleResponse" />
  </wsdl:message>
  <wsdl:message name="BillingCalculatonServiceContract_ApplyPackageExclusionInclusionRule_NextGenCustomExceptionFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/HIS.CustomException" name="detail" element="q7:NextGenCustomException" />
  </wsdl:message>
  <wsdl:portType name="BillingCalculatonServiceContract">
    <wsdl:operation name="GetBillRule">
      <wsdl:input wsaw:Action="GetBillRule" message="tns:BillingCalculatonServiceContract_GetBillRule_InputMessage" />
      <wsdl:output wsaw:Action="http://Wipro.NxG.HIS/BillingCalculatonServiceContract/GetBillRuleResponse" message="tns:BillingCalculatonServiceContract_GetBillRule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ApplyAgreementRule">
      <wsdl:input wsaw:Action="ApplyAgreementRule" message="tns:BillingCalculatonServiceContract_ApplyAgreementRule_InputMessage" />
      <wsdl:output wsaw:Action="http://Wipro.NxG.HIS/BillingCalculatonServiceContract/ApplyAgreementRuleResponse" message="tns:BillingCalculatonServiceContract_ApplyAgreementRule_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Wipro.NxG.HIS/BillingCalculatonServiceContract/ApplyAgreementRuleNextGenCustomExceptionFault" name="NextGenCustomExceptionFault" message="tns:BillingCalculatonServiceContract_ApplyAgreementRule_NextGenCustomExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ApplyServiceDependencyConfig">
      <wsdl:input wsaw:Action="ApplyServiceDependencyConfig" message="tns:BillingCalculatonServiceContract_ApplyServiceDependencyConfig_InputMessage" />
      <wsdl:output wsaw:Action="http://Wipro.NxG.HIS/BillingCalculatonServiceContract/ApplyServiceDependencyConfigResponse" message="tns:BillingCalculatonServiceContract_ApplyServiceDependencyConfig_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Wipro.NxG.HIS/BillingCalculatonServiceContract/ApplyServiceDependencyConfigNextGenCustomExceptionFault" name="NextGenCustomExceptionFault" message="tns:BillingCalculatonServiceContract_ApplyServiceDependencyConfig_NextGenCustomExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SplitBedRentalsDataOld">
      <wsdl:input wsaw:Action="SplitBedRentalsDataOld" message="tns:BillingCalculatonServiceContract_SplitBedRentalsDataOld_InputMessage" />
      <wsdl:output wsaw:Action="http://Wipro.NxG.HIS/BillingCalculatonServiceContract/SplitBedRentalsDataOldResponse" message="tns:BillingCalculatonServiceContract_SplitBedRentalsDataOld_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Wipro.NxG.HIS/BillingCalculatonServiceContract/SplitBedRentalsDataOldNextGenCustomExceptionFault" name="NextGenCustomExceptionFault" message="tns:BillingCalculatonServiceContract_SplitBedRentalsDataOld_NextGenCustomExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SplitBedRentalsData">
      <wsdl:input wsaw:Action="SplitBedRentalsData" message="tns:BillingCalculatonServiceContract_SplitBedRentalsData_InputMessage" />
      <wsdl:output wsaw:Action="http://Wipro.NxG.HIS/BillingCalculatonServiceContract/SplitBedRentalsDataResponse" message="tns:BillingCalculatonServiceContract_SplitBedRentalsData_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Wipro.NxG.HIS/BillingCalculatonServiceContract/SplitBedRentalsDataNextGenCustomExceptionFault" name="NextGenCustomExceptionFault" message="tns:BillingCalculatonServiceContract_SplitBedRentalsData_NextGenCustomExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ApplyPackageOnBill">
      <wsdl:input wsaw:Action="ApplyPackageOnBill" message="tns:BillingCalculatonServiceContract_ApplyPackageOnBill_InputMessage" />
      <wsdl:output wsaw:Action="http://Wipro.NxG.HIS/BillingCalculatonServiceContract/ApplyPackageOnBillResponse" message="tns:BillingCalculatonServiceContract_ApplyPackageOnBill_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Wipro.NxG.HIS/BillingCalculatonServiceContract/ApplyPackageOnBillNextGenCustomExceptionFault" name="NextGenCustomExceptionFault" message="tns:BillingCalculatonServiceContract_ApplyPackageOnBill_NextGenCustomExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalculateDeductibles">
      <wsdl:input wsaw:Action="CalculateDeductibles" message="tns:BillingCalculatonServiceContract_CalculateDeductibles_InputMessage" />
      <wsdl:output wsaw:Action="http://Wipro.NxG.HIS/BillingCalculatonServiceContract/CalculateDeductiblesResponse" message="tns:BillingCalculatonServiceContract_CalculateDeductibles_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Wipro.NxG.HIS/BillingCalculatonServiceContract/CalculateDeductiblesNextGenCustomExceptionFault" name="NextGenCustomExceptionFault" message="tns:BillingCalculatonServiceContract_CalculateDeductibles_NextGenCustomExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ApplyPackageExclusionInclusionRule">
      <wsdl:input wsaw:Action="ApplyPackageExclusionInclusionRule" message="tns:BillingCalculatonServiceContract_ApplyPackageExclusionInclusionRule_InputMessage" />
      <wsdl:output wsaw:Action="http://Wipro.NxG.HIS/BillingCalculatonServiceContract/ApplyPackageExclusionInclusionRuleResponse" message="tns:BillingCalculatonServiceContract_ApplyPackageExclusionInclusionRule_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Wipro.NxG.HIS/BillingCalculatonServiceContract/ApplyPackageExclusionInclusionRuleNextGenCustomExceptionFault" name="NextGenCustomExceptionFault" message="tns:BillingCalculatonServiceContract_ApplyPackageExclusionInclusionRule_NextGenCustomExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BillingCalculationEndpoint" type="tns:BillingCalculatonServiceContract">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBillRule">
      <soap:operation soapAction="GetBillRule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApplyAgreementRule">
      <soap:operation soapAction="ApplyAgreementRule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NextGenCustomExceptionFault">
        <soap:fault use="literal" name="NextGenCustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ApplyServiceDependencyConfig">
      <soap:operation soapAction="ApplyServiceDependencyConfig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NextGenCustomExceptionFault">
        <soap:fault use="literal" name="NextGenCustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SplitBedRentalsDataOld">
      <soap:operation soapAction="SplitBedRentalsDataOld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NextGenCustomExceptionFault">
        <soap:fault use="literal" name="NextGenCustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SplitBedRentalsData">
      <soap:operation soapAction="SplitBedRentalsData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NextGenCustomExceptionFault">
        <soap:fault use="literal" name="NextGenCustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ApplyPackageOnBill">
      <soap:operation soapAction="ApplyPackageOnBill" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NextGenCustomExceptionFault">
        <soap:fault use="literal" name="NextGenCustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CalculateDeductibles">
      <soap:operation soapAction="CalculateDeductibles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NextGenCustomExceptionFault">
        <soap:fault use="literal" name="NextGenCustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ApplyPackageExclusionInclusionRule">
      <soap:operation soapAction="ApplyPackageExclusionInclusionRule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="NextGenCustomExceptionFault">
        <soap:fault use="literal" name="NextGenCustomExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BillingCalculationService">
    <wsdl:port name="BillingCalculationEndpoint" binding="tns:BillingCalculationEndpoint">
      <soap:address location="http://agphsrv-his06.pfbsh.com.sa/Wipro.NxG.BillCalculation/BillingCalculationServiceReference.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>